#img{
	background-image: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74) ),url("../img/img.jpg");
	opacity: 0.9;
	filter: alpha(opacity=40);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
} 
}
.navbar-fixed-top{ border: transparent;
	background: transparent;
}
.navbar-default {
	background: transparent;
	border: transparent;
}
body{
	padding-top: 70px;
	font-size: 22px;
	color: black;
}