#img{
	background-image: url("../img/img.jpg");
	opacity: 0.9;
	filter: alpha(opacity=40);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}
.show-on-hover:hover > ul.dropdown-menu {
	display: block;    
}
.navbar-default {
    background: transparent;
    border: transparent;
}
body{
	padding-top: 70px;
	font-size: 22px;
}